nav {
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;


    ul {
        display: flex;
        align-items: center;
        flex: 5;
    }
    li {
        padding: 15px 20px;
    }
    a {
        color: $secondary-color;
    }
}
.order {
    padding: 10px;
    background: $extra-color;
    border-radius: 5px;
    font-weight: bold;
}
.logo {
    width: 50%;
}
.logo-container {
    flex:1;
}